.side__nav-logo {
  max-width: 200px;
  max-height: 70px;
  padding-left: 10px;
}

.sidebar {
  height: 100vh;
  width: 200px;
  background: rgb(176, 158, 158);
  background: linear-gradient(
    0deg,
    rgba(176, 158, 158, 1) 0%,
    rgba(62, 62, 57, 1) 100%
  );
  grid-area: side-nav;

  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.side-logo-container {
  margin-top: 15px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 70px;
}

.nav-items {
  list-style: none;
  margin: 10px;
  padding: 20px;
}

/* .link-style {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f7f9;
  transition: color 0.3s ease-in;
  &:hover {
    color: red;
  }
  &:active {
    color: red;
  }
} */

.nav-item-title {
  margin-left: 20px;
  font-weight: 100;
}
