.home__container {
  position: fixed;
  background: rgb(176, 158, 158);
  background: linear-gradient(
    0deg,
    rgba(176, 158, 158, 1) 0%,
    rgba(62, 62, 57, 1) 100%
  );
  right: 0;
  bottom: 0;

  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* .home__footer {
  border: 1px solid black;
} */
