.home__container {
  position: fixed;
  background: rgb(176, 158, 158);
  background: linear-gradient(
    0deg,
    rgba(176, 158, 158, 1) 0%,
    rgba(62, 62, 57, 1) 100%
  );
  right: 0;
  bottom: 0;

  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.page-container {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  border: 1px solid black;
  grid-template-rows: 1fr auto;
  /* grid-template-columns: 1fr auto; */
  grid-template-areas:
    "now-playing-bar now-playing-bar now-playing-bar"
    "main-view main-view main-view";
  /* background-color: #323f4b; */
  align-content: start;
}

.main-section {
  display: flex;
  padding: 30px;
  flex-direction: column;

  grid-area: main-view;
  overflow-y: scroll;
  margin-left: 10px;
}

.section {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.section-title {
  display: block;
  font-size: 20px;
  line-height: 64px;

  color: #f5f7f9;
}

.section-content {
  width: 85vw;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}
/* .home__footer {
  border: 1px solid black;
} */
