/* .wrapper > div {
  border: 1px solid black;
  background-color: #eee;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background-color: #ddd;
}

.wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 80px 1fr;
  grid-auto-columns: minmax(100px, auto);
} */

/* .wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  /* grid-auto-rows: 300px; */
/* grid-auto-rows: minmax(100px, auto); */

/* grid-template-columns: 20% 80%; */
/* grid-column-gap: 1em;
  grid-row-gap: 1em; */
/* grid-template-columns: repeat(3, 2fr); */
/* /* grid-gap: 1em; }  */

/* .nested {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */

/* Sections of Layout
-------------------------------------- */

body {
  background: rgb(176, 158, 158);
  background: linear-gradient(
    0deg,
    rgba(176, 158, 158, 1) 0%,
    rgba(62, 62, 57, 1) 100%
  );
}
.container > * {
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px 20px;
  grid-auto-rows: minmax(10px, auto);
}

.header {
  grid-column: 1 / -1;
  border: 1px solid black;
}
.sidebar {
  grid-row-end: span 2;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(223, 208, 208, 0.2),
    0 6px 20px 0 rgba(205, 134, 134, 0.19);
}
/* .content {
  grid-column: 2;
} */

.container {
  font-family: Helvetica, Arial, sans-serif;

  margin-right: auto;
  max-width: 75rem;
}

.container > * {
  /* background-color: #ccc; */
  background: rgb(176, 158, 158);
  background: linear-gradient(
    0deg,
    rgba(176, 158, 158, 1) 0%,
    rgba(62, 62, 57, 1) 100%
  );
  padding: 1em;
}

/* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
.main-content {
  min-height: 100vh;
  width: 100%;
  border: 1px solid black;
  align-content: center;
}

.inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding: 2% 2% 0;
  height: 25%;
  text-align: justify;
  font-size: 15px;
  background: #68b8c4;
  border: 3px solid black;
}

.inner-grid:after {
  content: "";
  display: inline-block;
  width: 50%;
}

.inner-grid .item {
  text-align: center;
  background: #03899c;
  margin-bottom: 2%;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  /*display: none; <-- uncomment this rule for use with MixItUp */
}

.inner-grid .item:before {
  content: "";
  display: inline-block;
  padding-top: 60%;
}

.main-content > p {
  color: white;
}

/* @media all and (min-width: 420px) {
  .inner-grid .item,
  .inner-grid {
    width: 32%;
  }
}

@media all and (min-width: 640px) {
  .inner-grid .item,
  .inner-grid {
    width: 23.5%;
  }
} */
