/* .wrapper > div {
  border: 1px solid black;
  background-color: #eee;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background-color: #ddd;
}

.wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 80px 1fr;
  grid-auto-columns: minmax(100px, auto);
} */

/* .wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  /* grid-auto-rows: 300px; */
/* grid-auto-rows: minmax(100px, auto); */

/* grid-template-columns: 20% 80%; */
/* grid-column-gap: 1em;
  grid-row-gap: 1em; */
/* grid-template-columns: repeat(3, 2fr); */
/* /* grid-gap: 1em; }  */

/* .nested {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */

/* Sections of Layout
-------------------------------------- */
body {
  background: rgb(176, 158, 158);
  background: linear-gradient(
    0deg,
    rgba(176, 158, 158, 1) 0%,
    rgba(62, 62, 57, 1) 100%
  );
}
.container > * {
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px 20px;
  grid-auto-rows: minmax(10px, auto);
}

.header {
  grid-column: 1 / -1;
  border: 1px solid black;
}
.sidebar {
  grid-row-end: span 2;
  border: 1px solid black;
}
/* .content {
  grid-column: 2;
} */

.container {
  font-family: Helvetica, Arial, sans-serif;

  margin-right: auto;
  max-width: 75rem;
}

.container > * {
  /* background-color: #ccc; */
  background: rgb(176, 158, 158);
  background: linear-gradient(
    0deg,
    rgba(176, 158, 158, 1) 0%,
    rgba(62, 62, 57, 1) 100%
  );
  padding: 1em;
}

/* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
.main-content {
  min-height: 100vh;
  width: 100%;
  border: 1px solid black;
}
