.main__page-container {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    "side-nav search search"
    "side-nav main-view main-view"
    "side-nav now-playing-bar now-playing-bar";
  background-color: #323f4b;
  align-content: start;
}
