.videoBG {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.footer__box {
  display: flex;
  align-items: flex-end;
  position: fixed;
  width: 99%;
  height: 100%;
  /* border: 1px solid white; */
}

.nav__container {
  z-index: 1;
  position: fixed;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__right {
  display: flex;
  align-items: center;
  margin-right: 25px;
  justify-content: space-between;
}
.navbar__logo {
  margin-left: 15px;
  cursor: pointer;
}

.logo {
  width: 250px;
  margin-top: 70px;
}
h1 {
  font-size: 70px;
  padding: 15px;
  margin-top: 75px;
}

/* MediaQueries ********************* */

@media (min-aspec-ration: 16/9) {
  .videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspec-ration: 16/9) {
  .videoBG {
    width: auto;
    height: 100%;
  }
}
