/* .div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -flex;
  width: 200px;
  height: 200px;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #7d74dd;
}

.button {
  background-color: #5f3439;
} */
