.profile-dropdown {
  position: absolute;
}

.box-test {
  width: 100%;
  height: 600px;

  margin: 4px auto;
  background-color: rgb(32, 183, 233);
  border: 1px solid black;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
